# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go build
*.out

# Dependency directories
/vendor/

# Go workspace
go.work

# IDE (GoLand / IntelliJ)
.idea/
*.iml

# OS
.DS_Store
Thumbs.db